################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EventBus/bin/Debug/net6.0
/EventBus/obj
/Microservices/.vs
/Microservices/obj
/Order/bin/Debug/net6.0
/Order/obj
/Product/bin/Debug/net6.0
/Product/obj
